body{
  background-color: #2F2E2E;
  color: #DBDBDB;
}

button{
    color: #DBDBDB;
}

#editButton{
    background-color: #E1B31B;
}

#removeButton{
    background-color: #DE3E3E;
}

#updateWorkoutButton{
    background-color: #FF5733;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #DBDBDB;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

td{
    overflow: hidden;
}

td:nth-child(odd){
    border-right: 1px solid #2F2E2E
}

th{
    background-color: #3E3E3E;
}

tr{
    border: none;
}

tr:nth-child(odd){
    background-color: #6F6F6F;
}

tr:nth-child(even){
    background-color: #939292;
}

.keyButtonL{
    float: left;
    width: 50%;
    height: 20px;
    border: 0px;
}

.keyButtonR{
    float: right;
    width: 50%;
    height: 20px;
    border: 0px;
}

#addRowButton{
    background-color: #825FB5;
}

#createWorkoutButton{
    background-color: #5FB55F;
}

.keyDiv{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.formInputW{
  float: left;
  width: 50%;
}

.formInputR{
  float: right;
  width: 50%;
}
