#container{
    align-items: center;
    margin: auto;
    width: 80%;
    display: flex;
}

#login-div{
    align-items: center;
    margin: auto;
    width: 50%;
    float: left;
    padding-right: 4px;
}

#signup-div{
    align-items: center;
    margin: auto;
    width: 50%;
    float: right;

    padding-left: 4px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    display: inline-block;
    border: 0px;
    box-sizing: border-box;
}

button{
    background-color: #5FB55F;
    color: #DBDBDB;
    width: 100%;
    height: 20px;
    border: 0px;
}
