ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2F2E2E;
}

li {
    float: left;
}

li a {
    font-family: arial, sans-serif;
    display: block;
    color: #DBDBDB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}