#container{
    align-items: center;
    margin: auto;
    width: 80%;
    display: flex;
}

#info-div{
    align-items: center;
    margin: 0 auto;
    width: 50%
}

#update-div{
    align-items: center;
    margin: auto;
    width: 50%;
    float: right;

    padding-left: 4px;
}


#profile-photo{
    max-height: 50%;
    max-width: 50%;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    display: inline-block;
    border: 0px;
    box-sizing: border-box;
}

button{
    background-color: #FF5733;
    color: #DBDBDB;
    width: 100%;
    height: 20px;
    border: 0px;
}