<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/base.css" />
    <link rel="stylesheet" href="/static/nav_bar.css" />
</head>
<body>
    <nav>
        <div id="nav-bar">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/users/{{user.name}}">Profile</a></li>
                <li><a href="/users/{{user.name}}/workouts/">Workouts</a></li>
                <li><a href="#">Stats</a></li>
                <li><a href="#">Calendar</a></li>
                <li style="float:right"><a href="#about">About</a></li>
                <li style="float:right"><a href="/logout" >Logout</a></li>
            </ul>
        </div>
    </nav>
<br/>
<br/>
<br/>
</body>
</html>