<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="{{ url_for('static', filename='request_manager.js') }}"></script>
    <link rel="stylesheet" href="/static/profile.css" />
</head>
<body>
{% include 'nav_bar.html' %}
<div id="container">
    <div id="info-div">
        <ul id="info-list">
          <li>{{user.name}}</li>
            <br/>
          <li>{{user.email}}</li>
        </ul>
    </div>
    <div id="update-div">
        <form action="/users/{{user.name}}" id="update-user-form" method="POST" name="update-user">
            <label><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="user-email" required>

            <label><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="user-name" required>

            <label><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="user-password" required>

            <label><b>Confirm Password</b></label>
            <input type="password" placeholder="Confirm Password" name="user-confirm" required>

            <button type="submit">Update</button>
        </form>
    </div>
</div>

</body>
</html>