<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="An app to track your workouts">
    <meta name="author" content="Sheldon Lee Hampton II">
    <script type="text/javascript" src="{{ url_for('static', filename='request_manager.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='add_row.js') }}"></script>
    <title>Fitness Tracker</title>
</head>

<body>
{% include 'nav_bar.html' %}

<div class="container">
    {% for workout in workouts %}
    <table>
        <caption>{{workout.name}}</caption>
        <thead>
        <tr>
            <th>Exercise Name</th>
            <th>Weight x Reps</th>
            <th>Weight x Reps</th>
            <th>Weight x Reps</th>
            <th>Weight x Reps</th>
            <th>Weight x Reps</th>
            <th>Muscle Group</th>
        </tr>
        </thead>
        <tbody>
        {% for exercise in workout.exercises %}
        <tr>
            <td>{{exercise.name}}</td>
            {% for set in exercise.sets %}
            <td>{{set.weight}} x {{set.reps}}</td>
            {% endfor %}
            <td>{{exercise.muscleGroup}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
      <div class=keyDiv id="editRemoveDiv">
        <button class=keyButtonL id="editButton" onclick="request('GET', '{{ url_for('workouts_view.workout_detail', userName=user.name, name=workout.name) }}'); ">Edit Workout</button>
        <button class=keyButtonR id="removeButton" onclick="request('DELETE', '{{ url_for('workouts_view.workout_detail', userName=user.name, name=workout.name) }}'); window.location.reload();">Remove Workout</button>
      </div>
    <br/>
    <br/>
    <br/>
    {% endfor %}

    <br/>
    <form action="/users/{{user.name}}/workouts/" id="createForm" method="POST" onsubmit="setTimeout(function () { window.location.reload(); }, 10)" name="create">
        <table id="createTable">
            <caption><input type="text" name="wk-name" id="create-workout-name"></caption>
            <thead>
            <tr>
                <th>Exercise Name</th>
                <th>Weight x Reps</th>
                <th>Weight x Reps</th>
                <th>Weight x Reps</th>
                <th>Weight x Reps</th>
                <th>Weight x Reps</th>
                <th>Muscle Group</th>
            </tr>
            </thead>
            {% for x in range(default_add_size) %}
            <tr>
                <td><input type="text" name="ex-name" placeholder="name" /></td>
                <td><input type="text" name="st-1-wgt" placeholder="set 1 wgt" size="5"/><input type="text" name="st-1-rps" placeholder="set 1 rps" size="5"/></td>
                <td><input type="text" name="st-2-wgt" placeholder="set 2 wgt" size="5"/><input type="text" name="st-2-rps" placeholder="set 2 rps" size="5"/></td>
                <td><input type="text" name="st-3-wgt" placeholder="set 3 wgt" size="5"/><input type="text" name="st-3-rps" placeholder="set 3 rps" size="5"/></td>
                <td><input type="text" name="st-4-wgt" placeholder="set 4 wgt" size="5"/><input type="text" name="st-4-rps" placeholder="set 4 rps" size="5"/></td>
                <td><input type="text" name="st-5-wgt" placeholder="set 5 wgt" size="5"/><input type="text" name="st-5-rps" placeholder="set 5 rps" size="5"/></td>
                <td>
                    <input list="muscle-groups" name="muscle-group" />
                    <datalist id="muscle-groups">
                        <option value="Arms">
                        <option value="Back">
                        <option value="Chest">
                        <option value="Core">
                        <option value="Heart">
                        <option value="Legs">
                        <option value="Shoulders">
                    </datalist>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class=keyDiv id="addCreateDiv">
            <button type="button" class=keyButtonL id="addRowButton" onclick="addRow('createTable'); return false;">Add Exercise</button>
            <button type="button" class=keyButtonR id="createWorkoutButton"  onclick="document.create.submit()">Create Workout</button>
        </div>
    </form>
</div>

<footer class="footer">
</footer>

</body>
</html>
