<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="{{ url_for('static', filename='request_manager.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='add_row.js') }}"></script>
</head>
<body>
{% include 'nav_bar.html' %}
<form action="/users/{{user.name}}/workouts/{{workout.name}}" id="updateForm" method="POST" name="update">
        <table id="updateTable">
            <caption><input type="text" name="wk-name" id="update-workout-name" value="{{workout.name}}"></caption>
            <thead>
            <tr>
                <th>Exercise Name</th>
                <th>Weight x Reps</th>
                <th>Weight x Reps</th>
                <th>Weight x Reps</th>
                <th>Weight x Reps</th>
                <th>Weight x Reps</th>
                <th>Muscle Group</th>
            </tr>
            </thead>
            {% for exercise in workout.exercises %}
            <tr>
                <td><input type="text" name="ex-name" value="{{exercise.name}}"/></td>
                {% for set in exercise.sets %}
                <td><input type="text" name="st-{{loop.index}}-wgt" value="{{set.weight}}" size="5"/><input type="text" name="st-{{loop.index}}-rps" value="{{set.reps}}" size="5"/></td>
                {% endfor %}
                <td>
                    <input list="muscle-groups" name="muscle-group" value="{{exercise.muscleGroup}}"/>
                    <datalist id="muscle-groups">
                        <option value="Arms">
                        <option value="Back">
                        <option value="Chest">
                        <option value="Core">
                        <option value="Heart">
                        <option value="Legs">
                        <option value="Shoulders">
                    </datalist>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class=keyDiv id="addCreateDiv">
            <button class=keyButtonL id="addRowButton" onclick="addRow('updateTable'); return false;">Add Exercise</button>
            <button class=keyButtonR id="updateWorkoutButton" onclick="document.update.submit()">Update Workout</button>
        </div>
    </form>
</body>
</html>